# --- terraform.auto.tfvars.example ---

username    = "<os_username>"
password    = "<os_password>"
tenant_name = "<os_project_name>"

# Optional (defaults defined in variables.tf):
# flavor_name = "ONPK_large"
# environment = "onpk"
